@{
  Layout = "_Layout";
}
@using Library.ViewModels


<h2>Authentication with Identity</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-default" value="Log out" />
    }
    @* <h2>Create new Role</h2>
    <hr /> *@
  @* @using (Html.BeginForm("CreateRole", "Account", FormMethod.Post))
  {
      @Html.LabelFor(user => user.RoleName)
      @Html.TextBoxFor(user=> user.RoleName)

    
    <input type="submit" value="Register" />
  } *@
}
else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}
<p>@Html.ActionLink("Home", "Index", "Home")</p>